<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/AMargaillan">Adeline</a>. A former paralegal who decided to switch careers.  She is now working to become a web developer.
  </p>
  <br />
  <p>
    Web development has proven to be a challenging but fun new beginning.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here.</a>
  </p>

  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Adeline.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Adeline Margaillan</h2>
      <br />
      <p>
        Adeline is a web development student.  She has spent the last 5 years as an office administrator after having terrible luck finding work as a paralegal.  She hopes to find an exciting new career in web development.
      </p>
    </div>
  </div>
  <br />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
